.btn {
  margin: 0.2em 0.1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  border-bottom: 0.15em solid black;
  border-radius: 3px;
  padding: 0.65em 1.3em;
}
.btn-lg {
  padding: 1em 2em;
}
.btn-sm,
.btn-xs {
  font-size: 0.85em;
  padding: 0.5em 1em;
}
.btn-xs {
  font-size: 0.85em;
  padding: 0.25em 0.75em;
}
.btn-default {
  border-color: #d9d9d9;
  background-image: linear-gradient(#fff, #f2f2f2);
}
.btn-default:hover {
  background: linear-gradient(#f2f2f2, #e6e6e6);
}
.btn-primary {
  border-color: #2a6496;
  background-image: linear-gradient(#428bca, #357ebd);
}
.btn-primary:hover {
  background: linear-gradient(#357ebd, #3071a9);
}
.btn-success {
  border-color: #3d8b3d;
  background-image: linear-gradient(#5cb85c, #4cae4c);
}
.btn-success:hover {
  background: linear-gradient(#4cae4c, #449d44);
}
.btn-info {
  border-color: #28a1c5;
  background-image: linear-gradient(#5bc0de, #46b8da);
}
.btn-info:hover {
  background: linear-gradient(#46b8da, #31b0d5);
}
.btn-warning {
  border-color: #df8a13;
  background-image: linear-gradient(#f0ad4e, #eea236);
}
.btn-warning:hover {
  background: linear-gradient(#eea236, #ec971f);
}
.btn-danger {
  border-color: #b52b27;
  background-image: linear-gradient(#d9534f, #d43f3a);
}
.btn-danger:hover {
  background: linear-gradient(#d43f3a, #c9302c);
}

.loading {
  display: inline-block;
}
.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}
.mr-1 {
    margin-right: 8px;
}
.mr-2 {
    margin-right: 16px;
}
.mr-3 {
    margin-right: 24px;
}
.result-container {
    display: flex;
}
/* 
    loading animation
*/
@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}
